@import 'other';

@media (max-width:1024px){
    #navbar{
        padding: 0 5vw;
        .logo{
            img{
                height: 25px;
                width: 25px;
            }
            h2{
                font-size: 1em;
            }
        }
        .menu{
            display: block;
            height: 25px;
            width: 25px;
            appearance: none;
            background: url(../assets/menu.png) center/cover;
            filter: invert(1);
            &:checked {
                background: url(../assets/close.png) center/cover;
                & ~ ul{
                    padding: 5vh 5vw;
                    height: 100vh;
                }
            }
        }
        ul{
            position: fixed;
            padding: 0 5vw;
            top: 50px;
            left: 0;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            height: 0vh;
            width: 100%;
            background: $bg;
            z-index: 3;
            transition:0.5s;
            overflow: hidden;
            li{
                width: 100%;
                align-items: flex-start;
                transition: 0.5s;
                overflow: hidden;
                span{
                    position: relative;
                    padding: 10px;
                    top: 0;
                    width: 100%;
                    margin: 0;
                    box-shadow: none;
                    background: transparent;
                    a{
                        position: relative;
                        left: 0;
                        padding: 7px;
                        margin: 5px 0;
                        width: 100%;
                        transition: 0.5s;
                        &:hover{
                            left:10px;
                            background: rgba(44, 53, 66, 0.698)
                        }
                    }
                }
            }
        }
    }

    #contact{
        @include center(center,center,column);
        .content{
            height: auto;
            span{
                margin: 0;
                height: auto;
                padding: 10px;
                width: 60%;
                border-radius: 10px;
                p{
                    font-size: 16px;
                }
            }
            img{
                width: 40%;
            }
        }
        &_form{
            margin-top: 10px;
            ul li{
                margin-top: 15px;
            }
        }
    }


    #home{
        .home{
            justify-content: flex-start;
            align-items: center;
            &_content{
                min-width: 100%;
                flex-direction: column;
                &-text{
                    h2{
                        font-size: 1.5em;
                    }
                }
                span{
                    margin-left: 0;
                    margin-top: 20px;
                    width: 90%;
                    p{
                        font-size: 16px;
                    }
                    a{
                        width: 100%;
                        text-align: left;
                        &:last-child{
                            margin: 5px 0;
                        }
                    }
                }
            }
            &_img{
                height: auto;
                align-self: flex-end;
                transform: translateX(-80%);
                img{
                    width: 100%;
                }
            }
            &_mouse{
                bottom: 0px;
            }
        }

        .services{
            .title{
                h2{
                    font-size: 1.25em;
                }
            }
            ul{
                justify-content: flex-start;
                li{
                    min-width: 100%;
                    background: linear-gradient(142.68deg,#213133 7.14%,rgba(19,23,18,.79) 37.91%,rgba(19,23,18,.86) 63.67%,#213033 108.09%);
                    &:not(:last-child){
                        margin-right: 0;
                    }
                    h2{
                        font-size: 1.25em;
                    }
                    p{
                        font-size: 16px;
                        line-height: 20px;
                    }
                    a{
                        font-size: 16px;
                        b{
                            font-weight: 500;
                        }
                    }
                }
            }
        }

        .clients{
            h2{
                font-size: 1.25em;
                width: 100%;
                text-align: right;
            }
            ul {
                margin:5px 0;
                li{
                    min-width: 100%;
                    background: linear-gradient(142.68deg,#213133 7.14%,rgba(19,23,18,.79) 37.91%,rgba(19,23,18,.86) 63.67%,#213033 108.09%);
                    transform: rotateY(25deg);
                    .clients_text{
                        img{
                            width: 90px;
                        }
                    }
                    h3{
                        font-size: 1em;
                    }
                    p{
                        font-size: 14px;
                        line-height: 20px;
                    }
                    a{
                        font-size: 14px
                    }
                }
            }
            &_content{
                @include center(center,center,column-reverse);
                .social-networks{
                    margin-top: 15px;
                }
            }
        }

        .reasons{
            @include center(center,center,column);
            &_text{
                @include center(center,center,column);
                h2{
                    width: 100%;
                    text-align: right;
                    font-size: 1.25em;
                }
                p{
                    text-align: center;
                    margin: 15px 0;
                    font-size: 16px;
                }
            }
            ul{
                li{
                    p{
                        font-size: 16px;
                    }
                    &:not(:first-child){
                        margin-top: 15px;
                    }
                }
            }
        }

        .study{
            h2{
                font-size: 1.25em;
            }
            &_content{
                @include center(center,center,column-reverse);
                ul{
                    li{
                        h3{
                            margin: 10px 0;
                            font-size: 1.25em;
                        }
                        h4{
                            font-size: 1.25em;
                        }
                        &:not(:first-child){
                            margin-top: 10px;
                        }
                        &:last-child{
                            margin-top: 20px;
                        }
                    }
                }
            }
        }

        .pains{
            h2{
                font-size: 1.25em;
                text-align: right;
            }
            p{
                font-size: 16px;
                text-align: left;
                color: #ffffffc5;
            }
            ul{
                width: 100%;
                justify-content: flex-start;
                flex-wrap: nowrap;
                li{
                    min-width: 100%;
                    background: linear-gradient(142.68deg,#213133 7.14%,rgba(19,23,18,.79) 37.91%,rgba(19,23,18,.86) 63.67%,#213033 108.09%);

                }
            }
        }
    }

    #footer{
        .footer_nav{
            margin: 35px 0;
            flex-direction: column;
            &-networks{
                margin-top: 10px;
            }
        }
        ul li:not(:first-child){
            display: none;
        }
        ul + p{
            text-align: center;
        }
    }
}