@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Righteous&display=swap');
@import url("https://unpkg.com/akar-icons-fonts/src/css/akar-icons.css");

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar{
    display: none;
}

input,button{
    border:none;
    outline: none;
}

a{
    color: #000;
    text-decoration: none;
}

ul {
    list-style: none;
}


$main-color:#1ba94c;
$bg: #242b36;

@mixin center($ai:center,$jc:center,$fd:row) {
    display:flex;
    flex-direction: $fd;
    align-items: $ai;
    justify-content: $jc;
}