@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&family=Righteous&display=swap');
@import url("https://unpkg.com/akar-icons-fonts/src/css/akar-icons.css");

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar{
    display: none;
}

input,button{
    border:none;
    outline: none;
}

a{
    color: #000;
    text-decoration: none;
    transition: 0.5s;
}

ul {
    list-style: none;
    transition: 0.5s;
    li{
        transition: 0.5s;
    }
}


$main-color:#1ba94c;
$bg: #242b36;

@mixin center($ai:center,$jc:center,$fd:row) {
    display:flex;
    flex-direction: $fd;
    align-items: $ai;
    justify-content: $jc;
}

.btn{
    padding: 10px 25px;
    color: #fff;
    font-weight: 600;
    background: $main-color;
    border-radius: 5px;
    &:hover{
        background: #136830;
    }
}

.social-networks{
    @include center;
    color: #fff;
    white-space: nowrap;
    a{
        color: #ff0066;
        font-weight: 600;
        transition: 0.5s;
        @include center(center,center,column);
        p{
            font-size: 14px;
        }
        img{
            &:last-child{
                height: 25px;
                margin-top: 15px;
            }
        }
        &:not(:last-child){
            margin-right: 35px;
        }
    }
}

#swiper{
    display: none;
    button{
        margin: 0 5px;
        font-size: 2em;                
        color: $main-color;
        background: transparent;
        transition: 0.5s;
        cursor: pointer;
        &:disabled{
            color: #949393;
        }
    }
    .sliders {
        @include center;
        .slider{
            margin:0 5px;
            width:25px;
            height: 4px;
            background: #777;
            border-radius: 5px;
            transition: 0.5s;
            cursor: pointer;
            &:hover,&.active{
                background: $main-color
            }
        }
    }
}

@media (max-width:1024px) {
    .social-networks{
        width: 100%;
        align-items: flex-start;
        justify-content: space-between;
        a{
            width: 100px;
            p{
                font-size: 10px;
            }
            img{
                width: 60px;
                &:last-child{
                    margin-top: 5px;
                }
            }
            &:not(:last-child){
                margin-right: 10px;
            }
            &:last-child{
                img:last-child{
                    width:85px;
                }
            }
        }
    }
    #swiper{
        @include center();
    }
}