@import 'other';

#navbar{
    position: fixed;
    top: 0;
    left: 0;
    padding: 5vh 5vw;
    height: 50px;
    width: 100vw;
    background: #242b36;
    @include center(center,space-between);
    transition: 0.5s;
    z-index: 3;
    .logo{
        @include center;
        img{
            height: 40px;
            width: 40px;
        }
        h2{
            margin-left: 10px;
            font-size: 1.3em;
            color: #fff;
        }
    }
    ul{
        list-style: none;
        @include center;
        li{
            position: relative;
            min-height: 50px;
            transition: 0.5s;
            @include center(center,center,column);
            &:not(:last-child){
                margin-right: 35px;
            }
            &:hover {
                span{
                    display: flex;
                }
                a{
                    color:$main-color;
                    transition: 0.5s;
                    i{
                        transform: rotate(180deg);
                    }
                } 
            }
            a{
                color: #fff;
                font-weight: 600;
                text-transform: uppercase; 
                transition: 0.5s;
                i{
                    position: absolute;
                    margin-left: 5px;
                    transition: 0.5s;
                }
                &.router-link-exact-active{
                    padding: 5px 0;
                    color: $main-color;
                    box-shadow: 0 2.5px 0 $main-color;
                }
            }
            span{
                position: absolute;
                top: 45px;
                padding: 10px;
                background: #222;
                @include center(flex-start,center,column);
                display: none;
                box-shadow: 0 0 0 1px #ffffff70;
                border-radius: 4px;
                a{
                    margin: 5px 0;
                    color: #fff !important;
                    white-space: nowrap;
                    font-weight: 500;
                    &:hover{
                        color: $main-color !important;
                    }
                }
            }
        }
    }
    .menu{
        display: none;
        cursor: pointer;
    }
}


.page{
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    section{
        min-height: 100vh;
        min-width: 100vw;
        padding: 0 5vw;
        color: #fff;
        background: #242b36;
        scroll-snap-align: center;
        scroll-snap-stop: always;
        @include center;
    }
}


#home{
    .home{
        position: relative;
        @include center(center,space-between);
        &_content{
            @include center(flex-start,space-between);
            &-text{
                color: #fff;
                h2{
                    margin-bottom:25px;
                    font-size: 3em;
                }
            }
            span{
                margin-left: 50px;
                font-weight: 500;
                p{
                    color: #ffffff90;
                    line-height: 25px;
                    margin-bottom: 10px;
                    font-size: 18px;
                }
                a{
                    display: inline-block;
                    color: $main-color;
                    font-size: 18px;
                    &:last-child{
                        margin-left: 10px;
                    }
                }
            }
        }
        &_img{
            height: 100vh;
            @include center(flex-end,flex-end);
            img{
                width: 30vw;
            }
        }
        .social-networks{
            position: absolute;
        }
        &_mouse{
            position: absolute;
            bottom: 10px;
            left: 50%;
            height: 35px;
            width: 20px;
            border-radius: 25px;
            background: transparent;
            box-shadow: 0 0 0 2px #fff;
            transform: translate(-50%,-50%);
            &::before{
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background: #fff;
                transform: translate(50%,50%);
                animation: mouse 1s linear infinite;
                @keyframes mouse {
                    0%{
                        transform: translate(50%,50%)
                    }
                    50%{
                        transform: translate(50%,200%)
                    }
                    100%{
                        background: $main-color;
                        transform: translate(50%,200%)
                    }
                }
            }
        }
    }

    .services{
        min-width: 100%;
        max-width: 100%;
        overflow-x: hidden;
        @include center(center,center,column);
        .title{
            align-self: flex-end;
            h2{
                margin-bottom: 5vh;
                font-size: 3em;
                text-align: right;
                color: $main-color
            }
        }
        ul{
            width: 100%;
            @include center;
            li{
                padding: 20px;
                h2{
                    margin: 15px 0;
                    font-size: 2em;
                }
                p{
                    font-size: 1.2em;
                    margin-bottom: 10px;
                    color: #ffffff90;
                }
                a{
                    font-size: 1.3em;
                    font-weight: 400;
                    color: $main-color;
                    @include center(center,space-between);
                    b{
                        font-weight: 400;
                    }
                    i{
                        font-size: 1.4em;
                    }
                }
                &:not(:last-child){
                    margin-right: 20px;
                }
                &:hover{
                    background:linear-gradient(142.68deg,#213133 7.14%,rgba(19,23,18,.79) 37.91%,rgba(19,23,18,.86) 63.67%,#213033 108.09%);
                }
            }
        }
    }

    .clients{
        min-width: 100%;
        max-width: 100%;
        overflow-x: hidden;
        @include center(center,center,column);
        h2{
            align-self: flex-end;
            color: $main-color;
            font-size: 2.5em;
        }
        ul{
            margin: 5vh 0;
            width: 100%;
            @include center(center,flex-start);
            li{
                min-width: 50%;
                padding: 20px 30px;
                .clients_text{
                    margin-bottom: 10px;
                    width: 100%;
                    @include center(center,flex-start);
                    img{
                        width: 120px;
                        margin-right: 20px;
                    }
                }
                p{
                    margin: 5px 0;
                    color: #ffffffc5;
                    line-height: 30px;
                    font-size: 18px;
                }
                a{
                    padding: 10px 0;
                    color: $main-color;
                    font-size: 18px;
                    font-weight: 600;
                    &:hover{
                        color: #0d7230;
                    }
                }
                &:hover{
                    background:linear-gradient(142.68deg,#213133 7.14%,rgba(19,23,18,.79) 37.91%,rgba(19,23,18,.86) 63.67%,#213033 108.09%);
                }
            }
        }
        &_content{
            width: 100%;
            @include center(center,space-between);
            span{
                @include center;
                a{
                    color: #ff0066;
                    @include center(center,center,column);
                    &:not(:last-child){
                        margin-right: 25px;
                    }
                }
            }
            #swiper{
                @include center;
                .slider:last-child{display: none;}
            }
        }
    }

    .reasons{
        @include center(center,space-between);
        &_text{
            h2{
                font-size: 2.5em;
                color: $main-color;
            }
            p{
                margin: 30px 0;
                font-size: 18px;
                color: #ffffff90;
            }
        }
        ul{
            margin: 10px 0;
            li{
                @include center(center,flex-start);
                img{
                    width: 30px;
                }
                p{
                    margin-left: 10px;
                    font-size: 18px;
                    line-height: 25px;
                    color: #ffffffc5;
                }
                &:not(:first-child){
                    margin-top: 25px;
                }
            }
        }
    }

    .study{
        @include center(center,center,column);
        h2{
            font-size: 2.5em;
            color: $main-color;
            align-self: flex-end;
        }
        &_content{
            margin-top: 10px;
            width: 100%;
            @include center(center,space-between);
            img{
                width: 100%;
            }
            ul{
                @include center(flex-start,center,column);
                li{
                    @include center(flex-start,center,column);
                    h3{
                        font-size: 2em;
                        font-weight: 400;
                        margin-bottom: 50px;
                    }
                    h4{
                        font-size: 1.5em;
                        color: $main-color;
                    }
                    .lang{
                        margin: 10px 10px 0 0;
                        padding: 10px;
                        color: #fff;
                        font-weight: 500;
                        background: #314549;
                    }
                    .langs{
                        @include center(center,flex-start);
                        flex-wrap: wrap;
                    }
                    &:not(:first-child){
                        margin-top: 25px;
                    }
                    &:last-child{
                        flex-direction: row;
                        .btn:last-child{
                            margin-left: 20px;
                            color: $main-color;
                            background: transparent;
                            box-shadow: 0 0 0 2px $main-color;
                        }
                    }
                }
            }
        }
    }
}

@import 'media';